@tailwind base;
@tailwind components;
@tailwind utilities;

table{
  width: 100%;
  border-collapse: collapse;
}
th,td{
  border: 2px solid black;
  padding: 2px 6px;
}
.btn {
  color: #099ffc;
  background: transparent;
  border: 3px solid #099ffc;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #099ffc;
  color: #100e34;
  box-shadow: 0 8px 32px 0 #099ffc;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 3px solid rgba(255, 255, 255, 0.18);
}

.btn-shop:hover {
  color: #099ffc;
  background: transparent;
  border: 3px solid #099ffc;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.btn-shop {
  background: #099ffc;
  color: #100e34;
  box-shadow: 0 8px 32px 0 #099ffc;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}
.btn-cart {
  color: #f9d949;
  background: transparent;
  border: 3px solid #f9d949;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.btn-cart:hover {
  background: #f9d949;
  color: #100e34;
  box-shadow: 0 8px 32px 0 #f9d949;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 3px solid rgba(255, 255, 255, 0.18);
}

.card-container {
  background: rgb(15 23 42);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
}
.landing-container {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
}

.card {
  padding: 10px;
  background:rgb(15 23 42);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cart-item {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-border {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.responsive-border {
  background: rgb(15 23 42 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.swiper-container {
  background: rgb(15 23 42);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.detail-container {
  background: rgb(15 23 42);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-container {
  border-radius: 20px;
  background: rgb(15 23 42);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.opening-container {
  background: rgb(39,27,255);
  background: linear-gradient(90deg, rgba(39,27,255,1) 0%, rgba(0,89,181,1) 35%, rgba(0,212,255,1) 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.icon {
  transition: all 0.5s ease;
}
.icon:hover {
  color: #099ffc;
  transform: rotate(360deg);
}

.red{
  background-color: red;
}

.btn-active {
  background: #099ffc;
  font-weight: 500;
  color: rgb(15 23 42);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.btn-follow {
  background: rgb(15 23 42);
  font-weight: 500;
  color: white;
  box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  padding: 5px 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}



@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white bg-responsive lg:bg-space bg-cover bg-fixed;
  }
  .btn {
    @apply font-tertiary text-white font-medium;
  }
  .btn-sm {
    @apply h-[40px] px-2 text-sm;
  }
  .btn-medium {
    @apply h-[48px] w-full px-2 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base from-[#FF0000] to-[#950101] hover:from-[#950101] hover:to-[#FF0000];
  }
  .btn-link {
    @apply text-base;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
